# Neural Network Using Numpy

In [37]:
import numpy as np

In [38]:
# neural network numpy implementation
class NeuralNetwork:
    def __init__(self, input, hidden, output):
        self.input = input
        self.hidden = hidden
        self.output = output
        self.weights1 = np.random.rand(self.input, self.hidden)
        self.weights2 = np.random.rand(self.hidden, self.output)
        self.bias1 = np.random.rand(1, self.hidden)
        self.bias2 = np.random.rand(1, self.output)
        
    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))
    
    def forward(self, x):
        self.Z1 = np.dot(x, self.weights1) + self.bias1
        self.A1 = self.sigmoid(self.Z1)
        self.Z2 = np.dot(self.A1, self.weights2) + self.bias2
        self.A2 = self.sigmoid(self.Z2)
        return self.A2

In [47]:
# neural network numpy implementation
class NN2hidden:
    def __init__(self, input, hidden1, hidden2, output):
        self.input = input
        self.hidden1 = hidden1
        self.hidden2 = hidden2
        self.output = output
        self.weights1 = np.random.rand(self.input, self.hidden1)
        self.weights2 = np.random.rand(self.hidden1, self.hidden2)
        self.weights3 = np.random.rand(self.hidden2, self.output)
        self.bias1 = np.random.rand(1, self.hidden1)
        self.bias2 = np.random.rand(1, self.hidden2)
        self.bias3 = np.random.rand(1, self.output)
        
    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))
    
    def forward(self, x):
        self.Z1 = np.dot(x, self.weights1) + self.bias1
        self.A1 = self.sigmoid(self.Z1)
        self.Z2 = np.dot(self.A1, self.weights2) + self.bias2
        self.A2 = self.sigmoid(self.Z2)
        self.Z3 = np.dot(self.A2, self.weights3) + self.bias3
        self.A3 = self.sigmoid(self.Z3)
        return self.A3

In [48]:
# test forward propagation with boston housing dataset
from sklearn.preprocessing import StandardScaler
import pandas as pd

df = pd.read_csv('Boston.csv')

In [49]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [50]:
# medv is the target variable and the rest are features
X = df.drop('medv', axis=1)
y = df['medv']

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [56]:
# create neural network 1 hidden layer
input = X.shape[1] # number of features
hidden = 10 # number of hidden units
output = 1 # number of output units
nn = NeuralNetwork(input, hidden, output)

In [57]:
# create neural network 2 hidden layers
hidden1 = 20
hidden2 = 10
nn2 = NN2hidden(input, hidden1, hidden2, output)

In [58]:
# forward propagation with 1 hidden layer
y_pred = nn.forward(X)
print(y_pred[:10])

[[0.59294539]
 [0.62019323]
 [0.6097221 ]
 [0.58970402]
 [0.60958238]
 [0.58859342]
 [0.65056692]
 [0.81348839]
 [0.8841116 ]
 [0.75893453]]

In [59]:
# forward propagation with 2 hidden layers
y_pred = nn2.forward(X)
print(y_pred[:10])

[[0.98808552]
 [0.99248249]
 [0.99186372]
 [0.99037269]
 [0.99235728]
 [0.99009643]
 [0.99304282]
 [0.99642806]
 [0.99675028]
 [0.99593154]]

In [46]:
# compared side by side predicted target variable and actual target variable and show the difference and error in a dataframe
df = pd.DataFrame({'Actual': y, 'Predicted': y_pred.flatten()})
df['Difference'] = df['Actual'] - df['Predicted']
df['MSE'] = df['Difference']**2 # squared error
df['RMSE'] = np.sqrt(df['MSE']) # root squared error

df

     Actual  Predicted  Difference          MSE       RMSE
0      24.0   0.984975   23.015025   529.691371  23.015025
1      21.6   0.998686   20.601314   424.414128  20.601314
2      34.7   0.998179   33.701821  1135.812764  33.701821
3      33.4   0.992219   32.407781  1050.264271  32.407781
4      36.2   0.998381   35.201619  1239.153976  35.201619
..      ...        ...         ...          ...        ...
501    22.4   1.000000   21.400000   457.960000  21.400000
502    20.6   1.000000   19.600000   384.160000  19.600000
503    23.9   1.000000   22.900000   524.410000  22.900000
504    22.0   1.000000   21.000000   441.000000  21.000000
505    11.9   1.000000   10.900000   118.810000  10.900000

[506 rows x 5 columns]